.gallery {
    padding: 2rem;
}

.grid-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
}

.img-box {
    position: relative;
}

.img-box img {
    width: 100%;
    border-radius: 10px;
    transition: transform 0.3s;
}

.img-box:hover img {
    transform: scale(1.05);
}

.caption {
    position: absolute;
    bottom: 8px;
    left: 10px;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    padding: 0.3rem 0.6rem;
    border-radius: 6px;
}