<section class="about-summary">
    <h1>À propos de nous</h1>
    <p>
        Carrefour des Cultures est un club étudiant de l'EIL Côte d'Opale dédié à la valorisation de la diversité culturelle. Né en 2024, il rassemble des étudiants passionnés d'échange, de découverte et de partage autour des cultures du monde.
    </p>
    <p>
        À travers des activités variées - échanges linguistiques, ateliers culinaires, projections, débats et jeux traditionnels – nous créons des ponts entre les cultures et favorisons une ambiance inclusive, conviviale et enrichissante.
    </p>
    <p>
        Ensemble, nous cultivons la tolérance, l'ouverture d'esprit et l'esprit de communauté au cœur de notre école.
    </p>


    <p class="slogan">🌍 Unis par nos différences, enrichis par nos cultures.</p>

</section>