.navbar {
    /* display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #007b5f;
    /*background-color: #111;*/
    /* color: white; */
    /* @apply h-full w-full */
    @apply hidden sm:flex sm:justify-between sm:items-center p-4 bg-[#007b5f] text-white;
}

.mobile-navbar{
    @apply flex sm:hidden justify-between items-center p-4 bg-[#007b5f] text-white;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.cacher{
    @apply hidden;
}

.nav-links a:hover {
    color: #ffd700;
}

.logo {
    cursor: pointer;
}

.logo-img {
    /* height: 60px; */
    @apply h-12 w-12;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
}