<section class="home">
    <div class="home-content">
        <div class="text-block">
            <h1 id="animated-title"><span>{{ displayedText }}</span><span class="cursor">|</span></h1>
            <p>
                Une association étudiante engagée pour l'échange, la découverte et la célébration des cultures du monde. 🌍✨
            </p>
        </div>
        <div class="image-block">
            <div class="slideshow-container" [class.loaded]="imagesLoaded" (mousemove)="onMouseMove($event)">
                <div *ngFor="let image of images; let i = index" class="slide" [class.active]="currentIndex === i" [style.background-image]="'url(' + image.url + ')'">
                    <div class="slide-caption">{{ image.caption }}</div>
                </div>
                <div class="slideshow-controls">
                    <button (click)="prevSlide()">❮</button>
                    <div class="dots">
                        <span *ngFor="let image of images; let i = index" [class.active]="currentIndex === i" (click)="goToSlide(i)"></span>
                    </div>
                    <button (click)="nextSlide()">❯</button>
                </div>
            </div>
        </div>
    </div>

    <section class="president-message" *ngFor="let member of members">
        <div class="president-container">
            <div class="president-photo">
                <img [src]="member.photoUrl" [alt]="member.name" title="member">
            </div>
            <div class="president-text">
                <h2>{{ member.title }}</h2>
                <p>"{{ member.message }}"</p>
                <p class="signature">— {{ member.name }}</p>
            </div>
        </div>
    </section>



</section>