.footer {
    background-color: #007b5f;
    color: white;
    text-align: center;
    padding: 1rem;
    box-shadow: 0 -4px 18px rgba(255, 251, 0, 0.603);
}

.partners-socials {
    padding: 2rem 1rem;
}

.partners-socials h2 {
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
    color: #ffffff;
    position: relative;
    display: inline-block;
}

.partners-socials h2::after {
    content: '';
    position: absolute;
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
    height: 3px;
    background: #ffcc00;
}

.logos,
.social-icons {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}

.logos img,
.social-icons img {
    height: 50px;
    transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    filter: grayscale(30%);
}

.logos img:hover,
.social-icons a:hover img {
    filter: grayscale(0%);
    transform: scale(1.15) rotate(2deg);
}